<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" scanPeriod="30 seconds">

  <property name="LOG_DIR" value="./logs" />
  <property name="LOG_HISTORY" value="7" />

    <!-- Appender List -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}],%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ignite_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/ignite.log</File>
        <encoder>
            <pattern>%yellow([%d{yyyyMMddHHmmss}]) %cyan(%C) : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/ignite.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${LOG_HISTORY}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.ignite" level="INFO">
        <appender-ref ref="ignite_file"/>
    </logger>

    <root level="INFO">
    <appender-ref ref="console"/>
    </root>


</configuration>